# Arduino
*.ino.*
*.sketch~
*.cpp~
*.h~
*.bak
*.swp
*.sw~
*.swm
*.swo
*.elf
*.hex
*.bin
*.eep
*.elf
*.o
*.d
*.a
*.so
.build/
*.bin
*.elf
*.hex
*.map
*.sym
*.lss
*.eep
*.o
*.d
*.a
*.dep

# OS-specific files
.DS_Store
Thumbs.db
*.Spotlight-V100
*.Trashes
ehthumbs.db
desktop.ini

# C++ specific files
*.obj
*.exe
*.log

# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so
*.log
*.mypy_cache/
*.coverage
.coverage.*
.hypothesis/
*.pytest_cache/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.vscode/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter notebooks
.ipynb_checkpoints

# VS Code settings
.vscode/

#venv
/venv

# Configuration file
**/config.h

delete_database.py
*key.json
dados_testes_horario.json